body{
    position: relative;
    height: 100%;
}
.logo{
    height: 100px;
    width: auto;
}
header{
    position: relative;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
#top_nav{
    position: absolute;
    right: 30px;
    top: 20px;
    text-align: right;
    display: inline-block;
}
#top_nav ul li, #site_map ul li{
    list-style-type: none;
    display: inline-block;
    margin: 5px 20px;
    cursor: pointer;
}
#top_nav ul li:hover, #site_map ul li:hover{
    color: gray;
}
#site_map{
    width: 100%;
    border-top: 1px solid gray;
    text-align: center;
}
#main_content{
    min-height: 50vh;
}
